html, body{
    margin: 0%;
    height: 100%;
    font-family: Lato, sans-serif;
    color: #1d0202;
}
.parallax1{
    position: relative;
    background-image: url("../img/img_parallax.jpg");
    height: 100%;
    opacity: 0.35;
    background-attachment: fixed;/*Fixa a imagem e permite que os outros elementos da imagem rolem*/
    background-position: center;/*posiciona a imagem de forma centralizada mesmo que o navegador seja redimensionada*/
    background-repeat: no-repeat; /*caso a tela seja maior que a imagem nao permitira que a imagem seja repetida*/
    background-size: cover;/*redimensiona a imagem de forma que ocupe a area visivel*/
}
.caption{
    /*altera a posiçao do texto*/
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}
.caption span.border{
    /*altera as caracteristicas do texto cor do fundo, cor do texto, espaçamento, tamanho da fonte e espaçamento entre caracteres*/
    background-color: rgb(201, 1, 1);
    color: white;
    padding: 20px;
    font-size: 25px;
    letter-spacing: 10px;
}
.box1{
    background-color: white;
    text-align: justify;
    padding: 50px 50px;
}
.parallax2{
    position: relative;
    background-image: url("../img/img_parallax2.jpg");
    height: 100%;
    opacity: 0.65;
    background-attachment: fixed;/*Fixa a imagem e permite que os outros elementos da imagem rolem*/
    background-position: center;/*posiciona a imagem de forma centralizada mesmo que o navegador seja redimensionada*/
    background-repeat: no-repeat; /*caso a tela seja maior que a imagem nao permitira que a imagem seja repetida*/
    background-size: cover;/*redimensiona a imagem de forma que ocupe a area visivel*/
}
.box2{
    background-color: rgb(255, 255, 255);
    text-align: justify;
    padding: 50px 50px;
}
.parallax3{
    position:relative;
    background-image: url("../img/img_parallax3.jpg");
    height: 100%;
    opacity: 0.35;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.box3{
    background-color: rgb(255, 255, 255);
    text-align: justify;
    padding: 50px 50px;
}
    
